* {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centered-container {
  max-width: 500px;
  width: 100%;
}

.input {
  border-radius: 16px;
  height: 50px;
}

.forgot {
  color: #7126b5;
}

.field-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

.button {
  background-color: #7126b5;
  border-radius: 16px;
  height: 50px;
  width: 100%;
  border-color: #7126b5;
}

.button:hover {
  background-color: #a06ece;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.daftar-disini {
  color: #7126b5;
  text-decoration: none;
}

.alert-message {
  position: absolute;
  background-color: red;
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  font-size: small;
  margin-top: 15%;
}
