.back {
  margin-left: 25%;
}

p {
  font-size: 14px;
}

.button-otp {
  background-color: #7126b5;
  border-radius: 16px;
  height: 40px;
  width: 100%;
  border-color: #7126b5;
}

.button-otp:hover {
  background-color: #a06ece;
  border-color: #a06ece;
}

.otp-container {
  display: flex;
  justify-content: center;
}

.alert-error {
  background-color: red;
  color: white;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  font-size: small;
}

.alert-registrasi {
  background-color: #73ca5c;
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  font-size: small;
}

@media (max-width: 768px) {
  .back {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .masuk{
    margin-left: 30px;
  }
}

@media (min-width: 768px) {
  @media (max-width: 1110px) {
    .back {
      margin-left: 20%;
      margin-bottom: 20px;
    }
    .masuk{
      margin-left: 16%;
    }
  }
}
