.navbar {
    box-shadow: 0 2px 4px 0 #bebebe;
}

.custom-button {
    background-color: #7126B5;
    border-color: #7126B5;
}

.custom-button:hover {
    background-color: #5a1e93;
    border-color: #5a1e93;
}

.custom-button:focus {
  background-color: #5a1e93;
    border-color: #5a1e93;
}

.input-rounded {
    background-color: #eaeaea;
    color: #8A8A8A;
    border-radius: 5rem;
    border:transparent
}

.input-rounded::placeholder {
    color: #8A8A8A;
}

.input-rounded:active {
    color: #8A8A8A;
    border-color: transparent;
}