* {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full height of the viewport */
}

.centered-container {
  max-width: 500px;
  width: 100%;
}

.input {
  border-radius: 16px;
  height: 50px;
}

.forgot {
  color: #7126b5;
}

.field-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}
.password-icon {
  right: 0.5rem;
}

.password-icon.with-check {
  right: 2.5rem;
}

.password-icon.wrong-visible {
  right: 2.5rem;
}

.button {
  background-color: #7126b5;
  border-radius: 16px;
  height: 50px;
  width: 100%;
}

.button:hover {
  background-color: #a06ece;
  border-color: #a06ece; 
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.check-icon,
.wrong-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.error {
  border-color: red !important;
}

.alert-message {
  background-color: red;
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  font-size: small;
  margin-top: 15%;
}

.input:focus {
  box-shadow: none;
  border: 1px solid #7126b5;
  background-color: none;
}
