.google-button {
  background-color: white;
  border-radius: 16px;
  height: 50px;
  color:black;
  border-color: #7126B5;
}
.google-button:hover {
  background-color: white;
  color: black;
}
.google-icon{
    width: 30px;
}
